@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);




body {
  margin: 0 auto !important;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.canteiner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1440px;
  height: 5252px;
  background: #1E252B;

}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 38px;
}

.logo {
  width: 130.74px;
  height: 33px;
  margin-top: -4px;
  margin-left: 117.26px;
  display: block;
}

.nav {
  width: 431px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  margin-left: 257px;
}

.nav>a {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}

.nav>a:nth-child(2) {
  display: flex;
  justify-content: center;
}

.ae {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  margin-left: 193px;
  margin-top: 17px;
}

.s-bn {
  width: 118px;
  height: 48px;
  border-radius: 8px;
  color: rgba(253, 245, 255, 1);
  background: rgba(255, 110, 48, 1);
  margin-left: 41px;
  margin-top: 0px;
  border: none;
}

.h1 {
  margin-top: 104px;
  margin-left: 108px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
}

.h1>samp {
  color: rgba(255, 110, 48, 1) !important;
  font-size: 50px;
}

.pheder {
  margin-top: 30px;
  margin-left: 108px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
}

.ilustrate-img {
  height: 568px;
  width: 599px;
  display: flex;
  justify-content: center;
  margin-left: 851px;
  margin-top: -591px;
}

.form {
  width: 497.66px;
  height: 64px;
  border-radius: 15px;
  margin-top: 60px;
  background: rgba(40, 48, 54, 1);
  margin-left: 111px;
}

.form>input {
  background: rgba(40, 48, 54, 1);
  border: none;
  color: rgba(255, 255, 255, 0.38);
  padding: 20px 0px 0px 13px;
}

.form>button {
  width: 130.43px;
  height: 48px;
  padding: 8px 0px 0px 0px;
  border-radius: 8px;
  border: none !important;
  color: rgba(253, 245, 255, 1);
  background: rgba(255, 110, 48, 1)
}

.search {
  padding: 20px 0px 0px 18px;
  width: 24px;
  height: 24px;
  border: none;
}

.pic-img {
  width: 190px;
  height: 58px;
  display: flex;
  justify-content: space-around;
  margin-top: 111px;
  margin-left: 111px;
}

.popular {
  width: 1224px;
  height: 294px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 108px;
  gap: 22px;
  justify-content: center;
}

.h2-p>h2 {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.9);

}

.h2-p>p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.55);
}

.h2-p {
  margin-top: 200px;
  margin-left: 493px;
  width: 455px;
  height: 147px;
  margin-bottom: 210px;
  text-align: center;
}

.resentagle {
  width: 392px;
  height: 294px;
}

.popular2 {
  width: 1224px;
  height: 294px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 108px;
  gap: 22px;
  justify-content: center;
}

.small-button {
  background: #1E252B;
  border: none;
  margin-top: 30px;
}

.p1 {
  color: rgba(255, 165, 55, 0.55);
  margin-left: 127px;
  margin-bottom: 30px;
}

.h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-left: 127px;
  margin-top: -66px;
}

.p2 {
  color: rgba(255, 255, 255, 0.78);
  margin-left: 33px;
}

.button {
  display: inline-block;
  background: #FF6E30;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all .2s;
}

.button--small {
  height: 42px;
  padding: 9px 35px;
  font-size: 16px;
}

.button--transparent {
  background: none;
}

/* TODO plain, transparent */
/* TODO small, default, big, large*/

/**
  * Section
  */

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 23px;
  row-gap: 100px;
}

/**
  * TOOL CARD
  */
.tool-card {
  padding: 33px;
  border-radius: 15px;
  opacity: 0.78;
  transform: translateY(0);
  transition: all .2s;
}

.tool-card__head {
  display: flex;
  column-gap: 30px;
}

.tool-card__label {
  margin-bottom: 0.25em;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.tool-card__cost {
  color: #ffa537;
  font-size: 18px;
  text-align: left;
}

.tool-card__description {
  margin-top: 30px;
  color: #FFFFFFC7;
  font-size: 16px;
  line-height: 1.85;
}

.tool-card__footer {
  margin-top: 30px;
  display: flex;
  column-gap: 12px;
}

.tool-card__action-button {
  margin-left: auto;
}

.tool-card:hover {
  opacity: 1;
  transform: translateY(-20px);
}

.tool-card:hover .button--transparent {
  background: #FF6E30;
}

/**
  * ICON
  */
.card-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 7px;
  cursor: pointer;
  color: #FFFFFF8C;
  font-size: 24px;
}

.card-icon svg {
  height: 1em;
  width: 1em;
}

.card-icon.isActive {
  background-color: rgba(40, 48, 54, 1);
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  color: #FD3B41;
}

.but2 {
  width: 184px;
  height: 64px;
  color: rgba(255, 110, 48, 1);
  border: rgba(255, 255, 255, 0.1) 1px solid;
  border-radius: 8px;
  background: rgba(30, 37, 43, 1);
  margin-top: 100px;
  margin-left: 628px;
}

.section4 {
  width: 1224px;
  height: 253px;
  border-radius: 25px;
  border: rgba(255, 255, 255, 0.05) 1px solid;
  margin-left: 108px;
  margin-top: 255px;
}

.section4>p {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: -100px;
  margin-left: 428px;
}

.img5 {
  width: 1059px;
  height: 51px;
  margin-top: 55px;
  margin-left: 82px;
  display: flex;
  justify-content: space-around;
}

.group1405 {
  width: 427px;
  height: 300px;
  margin-top: 220px;
  margin-left: 108px;
}

.group1405>h2 {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.9);
}

.group1405>p {
  color: rgba(255, 255, 255, 0.55);
  margin-top: 30px;
}

.group1405>button {
  margin-top: 60px;
  width: 198px;
  height: 58px;
  border-radius: 8px;
  background: rgba(255, 110, 48, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.ronaldricards>img:last-child {
  margin-top: -120px;
  width: 265px;
  height: 91px;
  border-radius: 8px;
  border: rgba(255, 255, 255, 0.1) 1px solid;
}

.ronaldricards>img:first-child {
  width: 399px;
  height: 492px;
}

.ronaldricards {
  width: 399px;
  height: 492px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 295px;
  margin-top: 400px;
}

.alt-text {
  margin-top: -400px;
  width: 450px;
  height: 336px;
  margin-left: 700px;
}

.buetton--small {
  width: 48px;
  height: 48px;
  background: #1E252B;
  border: none;

}

.alt-retyre {
  width: 2350px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-top: 3696px;
  margin-left: -450px;
}

.Group1433 {
  width: 168px;
  height: 8px;
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  margin-left: 636px;
}

.Group1433>div {
  border-radius: 4px;
  width: 44px;
  height: 6px;
  background: rgba(40, 48, 54, 1);
}

.Group1433>div:nth-child(2) {
  width: 44px;
  height: 8px;
  background: rgba(255, 110, 48, 1);

}

.become>h3 {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  margin-left: -25px;
}

.become>p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.55);
}

.become {
  margin-top: 200px;
  margin-left: 493px;
  width: 455px;
  height: 147px;
  margin-bottom: 210px;
  text-align: center;
}

.form2 {
  margin-top: -10px;
  width: 549px;
  height: 64px;
  border-radius: 15px;
  border: rgba(255, 255, 255, 0.1) 1px solid;
  display: flex;
  align-items: center;
  margin-left: 460px;
}

.form2>input {
  margin-left: 24.18px;
  background: #1E252B;
  border: none;
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
}

.form2>button {
  position: absolute;
  margin-left: 406.19px;
  width: 130.43px;
  height: 48px;
  border-radius: 8px;
  border: none !important;
  color: rgba(253, 245, 255, 1);
  background: rgba(255, 110, 48, 1)
}
.footer{
  border-top: rgba(255, 255, 255, 0.15) 1px solid;
  margin-top: 240px;
  display: flex;
}
.Group1{
  width: 260px;
  height: 183px;
  margin-left: 108px;
  margin-top: 70px;
}
.Group1>h3{
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  margin-top: 25px;
}
.Group1>p{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.55);
  margin-top: 10px;
}
.Group2{
  margin-left: 156px;
  margin-top: 55px;
  width: 197px;
  height: 142px;

}
.Group2>h2{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}
.Group2>p{
  color: rgba(255, 255, 255, 0.55);
}